In [1]:
import numpy as np
import pandas as pd
import category_encoders as ce
import os
from sklearn.model_selection import train_test_split

In [2]:
curr_path = os.getcwd()
file_path = os.path.join(curr_path,'input/train.csv')

In [3]:
df = pd.read_csv(file_path)
df.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,...,02e7c8990,3.0,Contributor,Hot,c,U,Pw,6.0,3.0,0
1,1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,...,f37df64af,3.0,Grandmaster,Warm,e,X,pE,7.0,7.0,0
2,2,0.0,1.0,0.0,F,N,Red,NaN,Hamster,Canada,...,NaN,3.0,NaN,Freezing,n,P,eN,5.0,9.0,0
3,3,NaN,0.0,0.0,F,N,Red,Circle,Hamster,Finland,...,f9d456e57,1.0,Novice,Lava Hot,a,C,NaN,3.0,3.0,0
4,4,0.0,NaN,0.0,T,N,Red,Triangle,Hamster,Costa Rica,...,c5361037c,3.0,Grandmaster,Cold,h,C,OZ,5.0,12.0,0

In [4]:
cols_to_enc = df.select_dtypes(object).columns.tolist()
print(cols_to_enc)
X = df.iloc[:,:-1]
y = df.target
for c in X.columns:
    if c in cols_to_enc:
        print(c)
        tge = ce.TargetEncoder(cols=[c])
        tge.fit(X.loc[:,c],y)
        X.loc[:,c] = tge.transform(X.loc[:,c])

['bin_3', 'bin_4', 'nom_0', 'nom_1', 'nom_2', 'nom_3', 'nom_4', 'nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9', 'ord_1', 'ord_2', 'ord_3', 'ord_4', 'ord_5']
bin_3
bin_4
nom_0
nom_1
nom_2
nom_3
nom_4
nom_5
nom_6
nom_7
nom_8
nom_9
ord_1
ord_2
ord_3
ord_4
ord_5

In [5]:
X

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month
0,0,0.0,0.0,0.0,0.186772,0.180234,0.183067,0.225464,0.168014,0.219534,...,0.128509,0.164251,3.0,0.172972,0.205176,0.113524,0.222938,0.143608,6.0,3.0
1,1,1.0,1.0,0.0,0.186772,0.195305,0.183067,0.130201,0.201104,0.185862,...,0.197291,0.152830,3.0,0.232669,0.175404,0.135513,0.233747,0.236897,7.0,7.0
2,2,0.0,1.0,0.0,0.186772,0.180234,0.183067,0.182805,0.168014,0.159849,...,0.172607,0.187849,3.0,0.187406,0.132253,0.289383,0.201003,0.208738,5.0,9.0
3,3,NaN,0.0,0.0,0.186772,0.180234,0.183067,0.179694,0.168014,0.178947,...,0.224036,0.268456,1.0,0.156024,0.290762,0.091502,0.138982,0.184215,3.0,3.0
4,4,0.0,NaN,0.0,0.187868,0.180234,0.183067,0.157360,0.168014,0.202836,...,0.191777,0.250000,3.0,0.232669,0.152205,0.182082,0.138982,0.160131,5.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,599995,0.0,1.0,0.0,0.187868,0.180234,0.183067,0.205417,0.201104,0.163366,...,0.224930,0.155797,3.0,0.156024,0.132253,0.091502,0.207384,0.128085,5.0,NaN
599996,599996,1.0,0.0,0.0,0.187868,0.195305,0.195763,0.205417,0.181884,0.202836,...,0.192748,0.156328,2.0,0.156024,0.244003,0.289383,0.187103,0.256842,NaN,3.0
599997,599997,0.0,0.0,0.0,0.186772,0.195305,0.183067,0.179694,0.201104,0.219534,...,0.111148,0.203046,2.0,0.172972,0.132253,0.289383,0.162365,0.137174,7.0,5.0
599998,599998,1.0,1.0,0.0,0.186772,0.195305,0.185295,0.205417,0.201104,0.185862,...,0.288534,0.179688,1.0,0.211650,0.175404,0.265988,0.233747,0.123230,1.0,5.0
599999,599999,0.0,0.0,0.0,0.187868,0.180234,0.195763,0.157360,0.181884,0.219534,...,0.191777,0.120000,1.0,0.172972,0.244003,0.102891,0.193167,0.284091,5.0,8.0

In [6]:
X.iloc[460434]

id       460434.000000
bin_0         0.000000
bin_1         0.000000
bin_2         0.000000
bin_3         0.187868
bin_4         0.195305
nom_0         0.183067
nom_1         0.157360
nom_2         0.181884
nom_3         0.219534
nom_4         0.207375
nom_5         0.251546
nom_6         0.162651
nom_7         0.143201
nom_8         0.192465
nom_9         0.217604
ord_0         1.000000
ord_1         0.156024
ord_2         0.290762
ord_3         0.113524
ord_4         0.193167
ord_5         0.178644
day           1.000000
month         6.000000
Name: 460434, dtype: float64