In [1]:
import numpy as np
import pandas as pd
import category_encoders as ce
import os
from sklearn.model_selection import train_test_split

In [2]:
curr_path = os.getcwd()
file_path = os.path.join(curr_path,'input/train.csv')

In [3]:
df = pd.read_csv(file_path)
df.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,...,02e7c8990,3.0,Contributor,Hot,c,U,Pw,6.0,3.0,0
1,1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,...,f37df64af,3.0,Grandmaster,Warm,e,X,pE,7.0,7.0,0
2,2,0.0,1.0,0.0,F,N,Red,NaN,Hamster,Canada,...,NaN,3.0,NaN,Freezing,n,P,eN,5.0,9.0,0
3,3,NaN,0.0,0.0,F,N,Red,Circle,Hamster,Finland,...,f9d456e57,1.0,Novice,Lava Hot,a,C,NaN,3.0,3.0,0
4,4,0.0,NaN,0.0,T,N,Red,Triangle,Hamster,Costa Rica,...,c5361037c,3.0,Grandmaster,Cold,h,C,OZ,5.0,12.0,0

In [4]:
df.shape

(600000, 25)

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X = df.iloc[:,:-1]

In [7]:
y = df.target

In [8]:
X

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,...,0256c7a4b,02e7c8990,3.0,Contributor,Hot,c,U,Pw,6.0,3.0
1,1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,...,52ead350c,f37df64af,3.0,Grandmaster,Warm,e,X,pE,7.0,7.0
2,2,0.0,1.0,0.0,F,N,Red,NaN,Hamster,Canada,...,745b909d1,NaN,3.0,NaN,Freezing,n,P,eN,5.0,9.0
3,3,NaN,0.0,0.0,F,N,Red,Circle,Hamster,Finland,...,bdaa56dd1,f9d456e57,1.0,Novice,Lava Hot,a,C,NaN,3.0,3.0
4,4,0.0,NaN,0.0,T,N,Red,Triangle,Hamster,Costa Rica,...,NaN,c5361037c,3.0,Grandmaster,Cold,h,C,OZ,5.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,599995,0.0,1.0,0.0,T,N,Red,Polygon,Axolotl,India,...,158183c63,015c63324,3.0,Novice,Freezing,a,R,GZ,5.0,NaN
599996,599996,1.0,0.0,0.0,T,Y,Blue,Polygon,Dog,Costa Rica,...,e9fde8fa8,a02ae6a63,2.0,Novice,Boiling Hot,n,N,sf,NaN,3.0
599997,599997,0.0,0.0,0.0,F,Y,Red,Circle,Axolotl,Russia,...,cccbca824,40f9610c1,2.0,Contributor,Freezing,n,H,MV,7.0,5.0
599998,599998,1.0,1.0,0.0,F,Y,NaN,Polygon,Axolotl,NaN,...,4164322bd,c1a8374a0,1.0,Master,Warm,m,X,Ey,1.0,5.0
599999,599999,0.0,0.0,0.0,T,N,Blue,Triangle,Dog,Russia,...,NaN,e2aea7784,1.0,Contributor,Boiling Hot,b,O,uI,5.0,8.0

In [9]:
X.shape

(600000, 24)

In [10]:
y

0         0
1         0
2         0
3         0
4         0
         ..
599995    0
599996    0
599997    0
599998    0
599999    0
Name: target, Length: 600000, dtype: int64

In [11]:
df_train, df_val, ytrain, yval = train_test_split(X,y,test_size = 0.3,random_state=42)

In [13]:
df_train.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month
460434,460434,0.0,0.0,0.0,T,Y,Red,Triangle,Dog,Russia,...,210039295,474e5d6c8,1.0,Novice,Lava Hot,c,O,WW,1.0,6.0
553326,553326,0.0,0.0,0.0,F,Y,Red,Trapezoid,Hamster,Russia,...,2218d9dfe,3f53972a2,2.0,Contributor,Warm,a,Z,lS,5.0,12.0
530462,530462,0.0,0.0,0.0,T,N,Red,Polygon,Dog,India,...,d5a47d599,a7bbd0454,2.0,Novice,Freezing,h,H,JT,5.0,3.0
124671,124671,0.0,1.0,0.0,F,N,Green,Trapezoid,Hamster,India,...,7a66737e5,59d8e0aaa,1.0,Novice,Warm,d,C,Hk,5.0,8.0
194260,194260,NaN,0.0,0.0,F,N,Blue,Triangle,Axolotl,India,...,90e9e961e,7700eee3d,3.0,Novice,Boiling Hot,h,N,wa,2.0,11.0

In [18]:
cols_to_enc = df_train.select_dtypes(object).columns.tolist()
print(cols_to_enc)
for c in df_train.columns:
    if c in cols_to_enc:
        print(c)
        tge = ce.TargetEncoder(cols=[c])
        tge.fit(pd.concat([df_train.loc[:,c],df_val.loc[:,c]],axis=0), pd.concat([ytrain,yval],axis=0))
        df_train.loc[:,c] = tge.transform(df_train.loc[:,c])
        df_val.loc[:,c] = tge.transform(df_val.loc[:,c])

['bin_3', 'bin_4', 'nom_0', 'nom_1', 'nom_2', 'nom_3', 'nom_4', 'nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9', 'ord_1', 'ord_2', 'ord_3', 'ord_4', 'ord_5']
bin_3

/home/shrishail/miniconda3/envs/ml/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

bin_4
nom_0
nom_1
nom_2
nom_3
nom_4
nom_5
nom_6
nom_7
nom_8
nom_9
ord_1
ord_2
ord_3
ord_4
ord_5

In [19]:
df_train.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month
460434,460434,0.0,0.0,0.0,0.187868,0.195305,0.183067,0.157360,0.181884,0.219534,...,0.192465,0.217604,1.0,0.156024,0.290762,0.113524,0.193167,0.178644,1.0,6.0
553326,553326,0.0,0.0,0.0,0.186772,0.195305,0.183067,0.225464,0.168014,0.219534,...,0.121985,0.206742,2.0,0.172972,0.175404,0.091502,0.246805,0.212851,5.0,12.0
530462,530462,0.0,0.0,0.0,0.187868,0.180234,0.183067,0.205417,0.181884,0.163366,...,0.177800,0.234783,2.0,0.156024,0.132253,0.182082,0.162365,0.139716,5.0,3.0
124671,124671,0.0,1.0,0.0,0.186772,0.180234,0.179806,0.225464,0.168014,0.163366,...,0.253417,0.168724,1.0,0.156024,0.175404,0.124078,0.138982,0.134115,5.0,8.0
194260,194260,NaN,0.0,0.0,0.186772,0.180234,0.195763,0.157360,0.201104,0.163366,...,0.129895,0.116631,3.0,0.156024,0.244003,0.182082,0.187103,0.273036,2.0,11.0